*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
}

button{
    cursor: pointer;
}

h1{
    color: #ffff;
}

label{
    color: #ffff;
}

.random-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   width: 100vw;
   height: 100vh; 
}

.random-form{
    display: flex;
    flex-direction: column;

    height: 50%;
}

.random-num{
    text-align: center;
    border: solid 1px black;
    border-radius: 4px;
    width: 97px;
    height: 39px;
}